/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #EEEEEE;
  font-size: 16px;
  line-height: 1.4;
  background: #121212;
  font-family: 'Open Sans', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #34FFC8;
  color: #424242;
  text-shadow: none;
}

::selection {
  background: #34FFC8;
  color: #424242;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

button:focus {
  outline: none;
}

/******************
* Utilities
*******************/
.d-flex {
  display: flex;
}

/******************
* Sections
*******************/

section {
  padding: 0 1.75rem;
  height: calc(100vh - 144px);
}

@media screen and (max-width: 768px) {
  section {
    height: calc(100vh - 69px);
  }
}

.header-container {
  height: auto;
  box-shadow: 0 0px 56px rgb(0 0 0 / 30%);
}

@media screen and (min-width: 768px) {
  section {
    padding: 0 7.25rem;
  }
}

/* Header */

.site-header {
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

@media screen and (min-width: 768px) {
  .site-header {
    padding-top: 2.87rem;
    padding-bottom: 2.87rem;
  }
}

.site-header .logo {
  width: 100%;
  height: auto;
  max-width: 108px;
}

@media screen and (min-width: 768px) {
  .site-header .logo {
    max-width: 199px;
  }
}

.site-header .logo-text {
  margin: 0;
}

.site-header .main-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.site-header .main-navigation a {
  margin-right: 1.5rem;
}

.site-header .main-navigation a:last-child {
  margin-right: 0;
}

.site-header .main-navigation a img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .site-header .main-navigation a img {
    max-width: 18px;
  }
  .site-header .main-navigation a {
    margin-right: 1rem;
  }
}

.section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.section .aside {
  width: 100%;
  max-width: 50%;
}

@media screen and (max-width: 768px) {
  .section .aside {
    max-width: none;
  }
}

.section .aside h1 {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.section .aside p {
  font-size: 1.875rem;
  line-height: 1.3;
}

@media screen and (max-width: 768px) {
  .section .aside p {
    font-size: 1rem;
  }
}

.section .aside .subtitle {
  font-size: 1rem;
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .section .aside .subtitle {
    font-size: 0.75rem;
  }
}

.section .aside em {
  font-size: 1.25rem;
  line-height: 1.3;
  font-style: italic;
  color: #34FFC8;
}

.section-slider .aside h1 span{
    color: #34FFC8;
}

@media screen and (max-width: 768px) {
  .section-slider .aside h1 {
    font-size: 1.875rem;
  }
  .section-slider .aside p {
    font-size: 1rem;
  }

}

.splide__arrows {
  position: absolute;
  bottom: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 7.25rem;
  z-index: 1;
  box-sizing: border-box;
  right: 0;
  width: auto;
}

@media screen and (max-width: 768px) {
  .splide__arrows {
    padding: 0 1.75rem;
  }
}

button.splide__arrow {
    background: transparent;
    border: 3px solid #34FFC8;
    margin: 0;
    padding: 0.75rem;
    border-radius: 100%;
}

button.splide__arrow:hover {
  cursor: pointer;
  transform: scale(1.1);
}

button.splide__arrow svg {
  fill: #34FFC8;
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 768px) {
  button.splide__arrow {
    padding: 0.5rem;
    border: 2px solid #34FFC8;
  }
  button.splide__arrow svg {
    width: 20px;
    height: 20px;
  }
}

button.splide__arrow.splide__arrow--prev {
  transform: rotate(180deg);
  visibility: hidden;
  display: none;
}

.splide__pagination {
  top: 70px;
  position: absolute;
  width: auto !important;
  padding: 0;
  left: 50%;
}

@media screen and (max-width: 768px) {
  .splide__pagination {
    top: 60px;
    left: 0;
    padding: 0 1.75rem;
  }
}

button.splide__pagination__page {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: none;
  margin-right: 23px;
  background: #fff;
}

@media screen and (max-width: 768px) {
  button.splide__pagination__page {
    width: 8px;
    height: 8px;
    margin-right: 14px;
    padding: 0;
  }
}

button.splide__pagination__page.is-active {
  background: #34FFC8;
}


/* Backgrounds */

.section-0 {
  background-image: url('../assets/bg-image-1@2x.jpg');
}
.section-1 {
  background-image: url('../assets/bg-image-2@2x.jpg');
}
.section-2 {
  background-image: url('../assets/bg-image-3@2x.jpg');
}

